<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
	<nav>

	    <a th:href="@{/login}"
	       sec:authorize="!isAuthenticated()">
	        Login
	    </a>

	    <a th:href="@{/register}"
	       sec:authorize="!isAuthenticated()">
	        Register
	    </a>

	    <a th:href="@{/admin/users}"
	       sec:authorize="hasRole('ADMIN')">
	        User Admin
	    </a>

	    <form th:action="@{/logout}"
	          method="post"
	          sec:authorize="isAuthenticated()"
	          style="display:inline;">
	        <button type="submit">Logout</button>
	    </form>

	</nav>

	<hr>
    <h1>Edit User</h1>

    <p>
        Username:
        <span th:text="${user.username}">username</span>
    </p>

    <form th:action="@{/admin/users/edit}" method="post">

        <input type="hidden" name="id" th:value="${user.id}">

        <div>
            <label>Role:</label>

            <select name="role">
                <option value="USER"
                        th:selected="${user.role == 'USER'}">
                    USER
                </option>

                <option value="ADMIN"
                        th:selected="${user.role == 'ADMIN'}">
                    ADMIN
                </option>
            </select>
        </div>

        <div>
            <label>
                <input type="checkbox"
                       name="enabled"
                       th:checked="${user.enabled}">
                Enabled
            </label>
        </div>

        <button type="submit">Save Changes</button>

    </form>

    <p>
        <a th:href="@{/admin/users}">Cancel</a>
    </p>

</body>
</html>