<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
	<nav>

	    <a th:href="@{/login}"
	       sec:authorize="!isAuthenticated()">
	        Login
	    </a>

	    <a th:href="@{/register}"
	       sec:authorize="!isAuthenticated()">
	        Register
	    </a>

	    <a th:href="@{/admin/users}"
	       sec:authorize="hasRole('ADMIN')">
	        User Admin
	    </a>

	    <form th:action="@{/logout}"
	          method="post"
	          sec:authorize="isAuthenticated()"
	          style="display:inline;">
	        <button type="submit">Logout</button>
	    </form>

	</nav>

	<hr>
    <h1>Login</h1>

    <div th:if="${param.error}">
        <p>Invalid username or password.</p>
    </div>

    <div th:if="${param.registered}">
        <p>Registration successful. Please log in.</p>
    </div>

    <div th:if="${param.logout}">
        <p>You have been logged out.</p>
    </div>

    <form th:action="@{/login}" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>

        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>

    <p>
        Don't have an account?
        <a th:href="@{/register}">Register</a>
    </p>

</body>
</html>